@page
@using Microsoft.Extensions.Localization
@using BookManage.Localization
@model BookManage.Web.Pages.BookManage.IndexModel
@inject IStringLocalizer<BookManageResource> L
@{
@*}
<abp-card>
    <abp-card-header>
        <h2>@L["BooksManager"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="BooksManager"></abp-table>
    </abp-card-body>
</abp-card>*@
