@page
@using Microsoft.Extensions.Localization
@using BookManage.Localization
@model BookManage.Web.Pages.BookManage.IndexModel
@inject IStringLocalizer<BookManageResource> L
@{
}
<h1>BookManage</h1>
<p>@L["SamplePageMessage"]</p>
